[Desktop Entry]
Version=0.2.0
Name=SSHshare
Comment=GUI Encrypt/Decrypt w/ ssh-vault
GenericName=SSHshare
Exec=$HOME/.local/bin/SSHshare
Path=$HOME/.local/bin/
Terminal=false
Type=Application
Icon=$HOME/.local/share/icons/hicolor/256x256/SSHshare-icon.png
StartupNotify=true
Categories=Utility;
